.app-container {
  background-color: grey;
  height:100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.recipe-book-header {
  width: 50%;
  height: 10%;
  margin-top: 5%;
  padding-top: 20px;
  font-size:xx-large;
  background-color: yellow;
  border-radius: 5px;
  text-align: center;
}

.recipe-book-header-text {
  font-size: 40px;
  color:darkgreen;
}

.recipe-table-container {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size:xx-large;
  background-color: aqua;
  border-radius: 5px;
  text-align: center;
}

.edit-view-recipe-container {
  width: 50%;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:xx-large;
  background-color: aqua;
  border-radius: 5px;
  text-align: center;
}

.formik-error {
  font-size: medium;
  color: red;
}

table, th, td {
  border: 1px solid;
}

th {
  background-color: black;
  color: blanchedalmond;
}

table {
  margin: 0 auto;
}

td {
  font-size: medium;
  padding: 3px;
  background-color: aliceblue;
}

#edit-view-form-id-field {
  background-color: grey;
}

